# .env
DEBUG=False
SECRET_KEY=your-secret-key-here

# Sessions & CSRF
SESSION_SAMESITE=None
SESSION_SECURE=False
CSRF_SAMESITE=None
CSRF_SECURE=False

# ─── Database for both Django & Postgres ─────
DB_NAME=db
DB_USER=db-user
DB_PASSWORD=db-password
DB_HOST=db
DB_PORT=5432